
/*pagina de estilos*/

html {
    box-sizing: border-box;
    font-size: 14px;
    font-family: arial;
    scroll-behavior: smooth;
}

*{
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body{
    background-color: #f5f5f5;
}

div.Header{
    height: 100vh;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100%;
    grid-template-rows: 15% 85%;
    background: url(/Imagenes/Fondo\ 1.png);
    background-size: cover;
    background-position: center center;
}

header{
    order: 2;
}

nav{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

nav img{
    margin: 0px 50px;
    width: 10vh;
    order: 0;
}

nav ul{
    order: 2;
    margin: 0px 40px;
    flex-grow: 1;
    display: flex;
    justify-content: end;
    gap: 80px;
}

nav ul li a{
    color: white;
    font-size: 2em;
    font-weight: bold;
}


nav label{
    order: 2;
    display: none;
}

span.material-symbols-outlined{
    font-size: 80px;
}

input#check{
    display: none;
}

header{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

header h1{
    color: white;
    font-size: 25vh;
    font-weight: bold;
    padding: 0px 10vw;
}

header h1:first-child{
    align-self: flex-start;
}

header h1:nth-child(2){
    align-self: flex-end;
}

header a{
    display: inline-block;
    border: 2px solid white;
    margin-top: 5vh;
    color: white;
    font-size: 1.5em;
    padding: 20px;
    border-radius: 30px;
}

section.speakers{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: #CFE6FF;
    justify-content: center;
}

section.speakers h2 {
    flex-basis: 100%;
    height: 20vh;
    display: grid;
    place-items: center;
    color: #150E60;
    font-size: 8em;
}

section.speakers>div{
    display: grid;
    height: 80vh;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
}

section.speakers>div>article{
    width: 30vw;
    display: flex;
    flex-flow: column;
    text-align: center;
}

section.speakers>div>article>img{
    width: 50vh;
    border-radius: 50px;
    align-self: center;
}

section.speakers>div>article>h3{
    color: #150E60;
    margin-top: 15px;
    font-size: 2em;
}

section.speakers>div>article>p{
    color: #150E60;
    align-self: center;
    margin-top: 15px;
    width: 30vw;
    font-size: 1.8em;
}

section.schedule{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    background-color: #473DC6;
    justify-content: center;
}

section.schedule h2 {
    flex-basis: 100%;
    height: 20vh;
    display: grid;
    place-items: center;
    color: white;
    font-size: 8em;
}

section.schedule>div{
    height: 80vh;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-items: center;
    justify-items: center;
}

section.schedule>div>article{
    width: 25vw;
    text-align: center;
    color: white;
}

section.schedule>div>article>hgroup>h3{
    font-size: 5em;
    margin-bottom: 30px;
}

section.schedule>div>article>hgroup>h4{
    font-size: 1.5em;
}

section.schedule>div>article>p{
    margin: 5px;
    font-size: 1.2em;
}

section.schedule>div>article>p+p{
    font-weight: bold;
}

@media (max-width: 920px){
    body{
        background-color: tomato;
        width: 100vw;
    }
    div.Header{
        width: 920px;
        height: 100vh;
    }

    section.speakers{
        width: 920px;
        height: max-content;
        flex-wrap: wrap;
        flex-flow: column;
        justify-items: center;
        align-items: center;
    }

    section.schedule{
        width: 920px;
        height: max-content;
        flex-wrap: wrap;
        flex-flow: column;
        justify-items: center;
        align-items: center;
    }

    nav{
        padding: 0;
    }

    .checkbtn{
        display: block;
        border: 1px solid white;
        color: white;
        position: fixed;
        right: 10px;
    }

    nav ul{
        position: fixed;
        left: -110%;
        width: 100%;
        height: 60vh;
        background-color: #473DC6;
        top: 12vh;
        text-align: center;
        flex-direction: column;
        justify-content: stretch;
        align-items: stretch;
        padding-top: 50px;
        border: 2px solid white;
        transition: all 0.5s;
    }

    #check:checked ~ ul {
        left: -40px;
    }

    header h1{
        color: white;
        font-size: 20vh;
        font-weight: bold;
        padding: 0px 20vh;
    }


    section.speakers h2 {
        flex-basis: 100%;
        height: 20vh;
        font-size: 4em;
    }

    section.speakers>div{
        width: 920px;
        height: auto;
        padding: 30px;
        display: flex;
        flex-flow: column;
        gap: 50px;
    }

    section.speakers>div>article>h3{
        font-size: 2.1em;
    }

    section.speakers>div>article>p{
        width: 100vw;
        font-size: 1.8em;
    }

    section.speakers h2 {
        flex-basis: 100%;
        height: 20vh;
        font-size: 4em;
    }

    section.schedule>div{
        width: 920px;
        height: auto;
        padding: 30px;
        display: flex;
        flex-flow: column;
        gap: 50px;
    }

    section.schedule>div>article>h3{
        font-size: 2.1em;
    }

    section.schedule>div>article>p{
        font-size: 1.8em;
    }


}
